package routes

import (
	"github.com/aydenstechdungeon/gospa/website/components"
)

templ Page() {
	<div class="flex flex-col">
		@components.Hero()
		
		<div class="max-w-7xl mx-auto px-4 w-full">
			<div class="h-px bg-gradient-to-r from-transparent via-[var(--border)] to-transparent"></div>
		</div>

		@components.Features()

		@components.SingleBinary()

		@components.Comparison()
	</div>
}
